*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
#corpo{
  background-image: linear-gradient(to bottom right, hsl(231, 58%, 30%, 75%), #01e08be1);
}
#conteudo-principal-contato{
  background-color: rgba(216, 216, 216, 0.5);
  margin: 20px auto;
  padding-top: 10px;
  padding-bottom: 20px;
  width: 60%;
  height: auto;
  text-align: center;
  border: 1px solid black;
  border-radius: 25px;
}
#titulo-section-dados-contato{
  margin: 20px auto;
}
#titulo-section-link-contato{
  margin: 20px auto;
}
.inputs-contato{
  cursor: text;
  font-size: 1em;
  border: none;
  outline: none;
  margin: 15px auto;
  padding: 10px 15px;
  width: 85%;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 1px;
  resize: none;
}
.inputs-contato:focus{
  box-shadow: inset 0px 0px 0px 2px;
  background-color: rgb(232, 232, 232);
}
#submit-button{
  height: 45px;
  padding: 5px;
}
#submit-button:hover{
  box-shadow: 0px 0px 10px 2px;
  background-color: rgb(232, 232, 232);
  cursor: pointer;
}
#submit-button:active{
  box-shadow: inset 0px 0px 5px 2px;
  background-color: rgb(216, 216, 216)
}
#section-contato{
  display: flex;
  flex-direction: column;
}
#section-links{
  display: flex;
  justify-content: space-around;
}
.links-contato{
  margin: 10px auto;
  text-decoration: none;
  color: black;
  cursor: pointer;
  letter-spacing: 1px;
}
.imagem-links-contato{
  cursor: pointer;
}
#linha-contato{
  margin: 20px auto;
  width: 80%;
}
