* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fonte-padrao);
}

#conteudo-principal-login {
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 40px;
    background-image: linear-gradient(to bottom right, hsl(231, 58%, 30%, 75%), #01e08be1);
}

#conteiner-login {
    margin: auto;
    margin-bottom: 15px;
    padding: 0 5px;
    width: 50%;
    border: 1px solid black;
    background-color: rgba(216, 216, 216, 0.5);
    border-radius: 25px;
    line-height: 30px;
}

#titulo-cabecalho-login {
    font-size: 2.5em;
    margin: 15px;
    line-height: 50px;
}

#span-login {
    font-size: 1.15em;
}
.inputs-login{
    cursor: text;
}
.inputs-login, #botao-entrar {
    font-size: 1em;
    padding: 10px 15px;
    margin: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px 1px;
}
#botao-entrar {
    cursor: pointer;
    margin: 20px 2%;
    width: 96%;
}
#botao-entrar:hover {
    box-shadow: 0px 0px 10px 2px;
    background-color: rgb(232, 232, 232)
}
#botao-entrar:active {
    box-shadow: inset 0px 0px 5px 2px;
    background-color: rgb(216, 216, 216)
}
.inputs-login:focus {
    box-shadow: inset 0px 0px 0px 2px;
    background-color: rgb(232, 232, 232);
}
#input-email {
    width: 47%;
    margin-right: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#input-senha {
    width: 47%;
    margin-left: 2px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
i{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}