.botoes{
    margin: auto 15px;
    padding: 10px 15px;
    width: 60px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 1em;
    outline: none;
    box-shadow: 0px 0px 3px 1px;
}

.botoes:hover{
    box-shadow: 0px 0px 10px 2px;
    background-color: var(--cinza-hover);
    cursor: pointer;
}
.botoes:active{
    box-shadow: inset 0px 0px 5px 2px;
    background-color: var(--cinza-active);
}

#botao-finalizar{
    margin: auto;
    width: fit-content;
    font-size: 1.2em;
}

#botao__remover{
    width: 40px;
    padding: 2px 0;
}

#botao-realizar{
    width: fit-content;
    margin: 10px auto;
}