@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

@import url(botoes.css);
@import url(footer.css);
@import url(nav.css);
@import url(dados__analista.css);

* {
    margin: 0;
    padding: 0;
    font-family: var(--fonte-padrao);
    box-sizing: border-box;
}

:root{
    --fonte-padrao: "Ubuntu", sans-serif;
    --verde-padrao: #7ce7be;
    --verde-hover: #01e08be1;
    --azul-contraste: #202d79;
    --azul-hover: hsl(231, 58%, 30%, 75%);
    --branco-padrao: #ffffff;
    --preto-padrao: #000000;
    --preto-transparente: hsla(0, 0%, 0%, 0.45);
}

input{
    font-size: 0.8em;
    width: 12rem;
    height: 1.2rem;
    margin: 1rem auto;
    padding: 0.6rem;
    border: 1px var(--verde-padrao) solid;
    outline: none;
    border-radius: 10px;
}