nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.identificadores{
    width: 20%;
    margin: 10px auto;
    cursor: default;
    font-size: 0.8em;
    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 1px;
}